<template>
    <div class="container">
    <p v-if="this.events.length === 0"> No bookings found for current user! </p>
        <div class="wrap">
            <div class="events">
                <div class="event" v-for="event in events" :key="event.id" @click="select(event)">
                    <div>
                        <div class="trash" @click="remove(event)">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div>
                        <div class="name">Name: {{ event.name }}</div>
                        <div class="name">Date: {{ event.date }}</div>
                        <div class="description">id: {{ event.id }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="event-info div-border" v-if="selected !== -1">
        <h2> Event information </h2>
        <p>Event id: {{ selected.id }}</p>
        <p>Event name: {{ selected.name }}</p>
        <p>Event date: {{ selected.date }}</p>
        <p v-if="selected.available <= 0">No slots left for this event!</p>
        <p v-else>Available slots: {{ selected.available }}</p>
        <button
        type="button"
        class="button"
        @click="remove(selected)"
      >
        delete reservation
      </button>
    </div>
</template>

<script>
import http from '../http-common'
export default {
  created () {
    document.querySelector('.content').className = 'contentF'
    http.get('user/booked/all').then(res => {
      console.log(res)
      this.bookings = res.data.bookings
      this.bookings.forEach(booking => {
        http.get(`/event/${booking.event_id}`)
          .then(response => {
            const data = {
              id: response.data.event.id,
              name: response.data.event.name,
              date: response.data.event.date,
              available: response.data.event.available
            }
            this.events.push(data)
          })
      })
    }).catch(err => {
      console.log(err)
      if (err.status === 401) {
        this.$router.push({ name: 'login' })
        this.$toast.info('Login to use this function!')
      }
      console.log(err)
    })
  },
  data () {
    return {
      events: [],
      bookings: [],
      selected: -1
    }
  },
  methods: {
    remove (event) {
      console.log(this.bookings)
      const bookingToRemove = this.bookings.find(booking => booking.event_id === event.id)
      console.log(bookingToRemove)
      http.delete(`user/booked/${bookingToRemove._id}`).then(res => {
        console.log(res.data)
        this.$toast.info(`Booking for ${event.name} removed!`)
        this.events = this.events.filter(currEvent => currEvent.id !== event.id)
        this.bookings = this.events.filter(booking => booking !== bookingToRemove)
        this.selected = -1
      })
        .catch(err => console.log(err))
    },
    select (id) {
      this.selected = id
    }
  },
  computed: {
  },
  beforeUnmount () {
    document.querySelector('.contentF').className = 'content' // ritorno stato iniziale
  }
}
</script>
<style>
</style>
<style scoped lang="scss">

$blue: black;
$black: #000000;
$grey: #cccccc;
$green: #aff56e;

.div-border{
  border: 1px solid #ccc;
}

.event-info{
    max-width: 40%;
}

.button {
  background: $grey;
  left: 15%;
  padding: 8px 16px;
  height: 45px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: $black;
  font-size: 1.1em;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: darken($grey, 7%);
  }
  &:focus {
    background: darken($grey, 7%);
  }
  &:active {
    background: darken($grey, 40%);
  }
}
.button__text {
  font: bold 14px Verdana, Geneva, sans-serif;
  color: $black;
  transition: all 0.2s;
}
.trash {
    position: absolute;
}

.trash:hover {
    color: rgb(255, 81, 0);
}

.wrap {
    padding: 2em;
}

.header {
        margin: 1em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    @media (max-width: 800px) {
        margin: 2em 0;
    }

}

.header input {
    border: none;
    font-size: 1.3em;
    box-sizing: border-box;
    border-bottom: white solid 2px;
}

.header input:focus {
    outline: none;
    border-bottom: #0f1621 solid 2px;
}

.search-bar {
    max-width: 350px;
    margin: auto;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-bar i {
    padding-right: 1em;
    font-size: 1.2em;
    border-bottom: white solid 2px;
}

/*events*/
.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
}

.event {
    padding: 1em;
    display: grid;
    /* justify-content: center; */
    border-radius: 10px;
    background-color: #2c3e50;
    gap: 1em;
    color: aliceblue;
    transition: transform 500ms;
}

.event>* {
    text-align: center;
}

.event:hover {
    cursor: pointer;
    transform: scale(110%);
}

.degree {
    font-size: 3em;
}

.temp {
    display: grid;
    gap: 0.5em;
}

.minmax {
    display: flex;
    justify-content: space-around;
}

.other {
    display: flex;
    justify-content: space-around;
}

.number {
    font-size: 2em;
}

.description {
    font-size: 0.8em;
}
</style>
