<template>
  <div>
  <h1> Current user object </h1>
  <p>{{this.user}}</p>
  <h1> My bookings </h1>
  <p> {{this.bookings}} </p>
  <h1> All events </h1>
  <p> {{this.events}} </p>
  </div>

</template>

<script>
import http from '../http-common'
export default {
  components: {},
  created () {
    // console.log(this.id)
    const status = this.$route.query.status || ''
    if (status) this.$toast.success('Successfully logged!')
    http
      .get('user/me')
      .then((res) => {
        console.log(res)
        this.user = res.data
      })
      .catch((err) => {
        console.log(err)
      })

    http
      .get('user/booked/all')
      .then(res => {
        console.log(res)
        if (res.data.status === 'ok') { this.bookings = res.data.bookings }
      })
      .catch(err => console.log(err))

    http
      .get('event/all')
      .then(res => {
        console.log(res)
        if (res.data.status === 'ok') { this.events = res.data.events }
      })
      .catch(err => console.log(err))
  },
  data () {
    return {
      user: {},
      bookings: [],
      events: []
    }
  },
  mounted () {},
  methods: {},
  computed: {}
}
</script>

<style scoped lang="scss">
/*main*/
</style>
