<template>
  <div>
    <div class="container div-border" v-if="isAdmin">
      <div class="overview">
        <div class="title">Create new event</div>
      </div>
      <div class="form">
        <div>
          <label for="name">Name of the event: </label>
          <input
            type="text"
            id="event_name"
            v-model="event_name"
            name="event_name"
            placeholder="super cool event xd"
          />
        </div>
        <div>
          <label for="name">Date of the event: </label>
          <input
            type="text"
            id="event_date"
            v-model="event_date"
            name="event_date"
            placeholder="yyyy-mm-gg"
          />
        </div>
        <div>
          <label for="name">Number of available slots: </label>
          <input
            type="text"
            id="available_slots"
            v-model="available_slots"
            name="available_slots"
            placeholder="10"
          />
        </div>
        <button type="button" class="button" @click="newEvent">CREATE</button>
      </div>
    </div>
    <div class="event-container div-border">
      <div class="overview">
        <div class="title">Event information</div>
      </div>
      <div class="event-info">
        <p>Event id: {{ selected_event_info.id }}</p>
        <p>Event name: {{ selected_event_info.name }}</p>
        <p>Event date: {{ selected_event_info.date }}</p>
        <p v-if="selected_event_info.available <= 0">No slots left!</p>
        <p v-else>Available slots: {{ selected_event_info.available }}</p>
      </div>
      <button
        type="button"
        class="button"
        @click="book"
        :disabled="selected_event === -1 || selected_event_info.available <= 0"
      >
        BOOK NOW
      </button>
    </div>
  </div>
  <div class="events">
    <div
      v-for="event in events"
      :key="event"
      :id="event"
      @click="select(event)"
      :class="{
        selected: selected_event === event,
        event: selected_event != event
      }"
    >
      <p class="event-content">
        {{ event }}
      </p>
    </div>
  </div>
</template>

<script>
import http from '../http-common'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isAdmin'])
  },
  data () {
    return {
      events: [],
      event_name: 'super cool event xd',
      event_date: '2023-12-24',
      available_slots: 10,
      selected_event: -1,
      selected_event_info: {
        id: '',
        name: '',
        date: '',
        available: 0
      }
    }
  },
  methods: {
    refreshEvents () {
      http
        .get('event/all', {})
        .then((res) => {
          this.events = res.data.events
          console.log(res.data)
        })
        .catch((err) => {
          this.$toast.error(
            'could not retrieve events from server! try to login again.'
          )
          console.log(err)
        })
    },
    newEvent () {
      http
        .post(
          'event/new',
          {
            name: this.event_name,
            date: this.event_date,
            available: this.available_slots
          },
          {}
        )
        .then((res) => {
          this.$toast.success('Event created!')
          console.log(res.data)
          this.refreshEvents()
        })
        .catch((err) => {
          this.$toast.error('error creating event, check parameters!')
          console.log(err)
        })
    },

    select (eventId) {
      console.log(eventId)
      this.selected_event = eventId
      this.getEventInfo(eventId)
    },
    book () {
      http
        .post(`/event/${this.selected_event}/book`, {})
        .then((res) => {
          this.$toast.success('Event booked!')
          console.log(res.data)
          this.refreshEvents()
        })
        .catch((err) => {
          this.$toast.error('error creating event, check parameters!')
          console.log(err)
        })
    },
    getEventInfo (eventId) {
      http
        .get(`/event/${eventId}`)
        .then((res) => {
          if (res.data.status === 'ok') {
            this.selected_event_info = res.data.event
            console.log(res.data.event)
          } else console.log(res)
        })
        .catch((err) => console.log(err))
    }
  },
  created () {
    this.refreshEvents()
  }
}
</script>

<style lang="scss" scoped>
$blue: black;
$black: #000000;
$grey: #cccccc;
$green: #aff56e;

.div-border {
  border: 1px solid #ccc;
}
.container {
  box-sizing: border-box;
  height: 50vh;
  /*display: grid;
  grid-auto-rows: 1fr 1fr;*/
}
.event-container {
  box-sizing: border-box;
  height: 50vh;
  /*display: grid;
  grid-auto-rows: 1fr 1fr;*/
}
.overview {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.title {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.number {
  font-weight: bold;
  font-size: 2em;
}
.total {
  align-self: center;
  color: #9fa7b4;
}

label {
  align-self: center;
  font-weight: bold;
}
.left {
  display: flex;
  gap: 0.5em;
}
.value-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.form {
  display: grid;
}
form {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr 2fr;
  gap: 1em;
}
textarea {
  resize: none;
  font-size: 1.5em;
}
input[type='submit'] {
  background: black;
  color: white;
  border: none;
  border-radius: 10px;

  width: 30%;
  height: 2rem;
  transition: background 500ms;
}
input[type='submit']:hover {
  cursor: pointer;
  border: 2px solid black;
  background: none;
  color: black;
}
.event-content {
  display: flex;
  flex-direction: row;
}
.events {
  height: 100vh;
  overflow: scroll;
}
.event {
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background: $grey;
  &:hover {
    background: darken($grey, 7%);
  }
  &:focus {
    background: darken($grey, 7%);
  }
  &:active {
    background: darken($grey, 40%);
  }
}
.selected {
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background: $green;
  &:hover {
    background: darken($green, 7%);
  }
  &:focus {
    background: darken($green, 7%);
  }
  &:active {
    background: darken($green, 40%);
  }
}

.button {
  background: $grey;
  left: 15%;
  padding: 8px 16px;
  height: 45px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: $black;
  font-size: 1.1em;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: darken($grey, 7%);
  }
  &:focus {
    background: darken($grey, 7%);
  }
  &:active {
    background: darken($grey, 40%);
  }
}
.button__text {
  font: bold 14px Verdana, Geneva, sans-serif;
  color: $black;
  transition: all 0.2s;
}

@media (max-width: 1024px) {
  .overview {
    margin-top: 2em;
  }
}
@media (max-width: 800px) {
  .reviews {
    overflow: visible;
  }
}
</style>
